@tailwind base;
@tailwind components;
@tailwind utilities;

.CadastrarVeiculosContainer
{
    @apply  grid 
    lg:grid-cols-[40vw_40vw] lg:grid-rows-[14vh_14vh_14vh] 
    lg:gap-y-[3vh] lg:gap-x-[10vw]
    sm:grid-cols-[90vw] sm:grid-rows-[10vh] 
    sm:gap-y-[1.1vh] mt-[10vh]
}

.Voltar{
    @apply cursor-pointer xl:w-[50px] mobile:w-[35px]
}

.ChatContainer
{
    @apply   flex flex-col items-center 
    h-[80vh] w-1
    mx-auto
    pb-4
    rounded-[5px]
}

.UserInput{
    @apply   flex-shrink-0 
    h-[8vh] 
   mobile:w-[85vw]
   xl:w-[70vw]
    border-none 
    text-center 
    p-[0.6em] px-[1.2em] 
    text-[1.6em] 
    rounded-[32px] 
    bg-[#cececea1]

}

.ChatBox{
    @apply relative flex  rounded-md
    h-[60vh] 
    border-[3px] border-[#3da3d0] 
    p-[0.1em] 
    text-white
    bg-[#1d1d1d]
    xl:w-[85vw] mobile:w-[95vw]  ;
}

.ContainerMensagem{
    @apply    flex  
    xl:flex-row items-center xl:gap-[6vw]
    relative 
    pt-[6vh] 
    mobile:flex-col
}

.ErroMensagem{
    @apply bg-red-300 border-spacing-0 p-4 mb-4 rounded-2xl xl:w-[200px] mobile:w-[140px] xl:text-[15px] mobile:text-[10px]
}

.ErrosContainer{
    @apply fixed top-0 left-1/2 transform -translate-x-1/2 mt-[8em] m-4 z-10 flex items-center justify-center gap-2;
 }