@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  }

.botao{
  @apply block py-[0.2vw] px-4 bg-[#3da3d0] text-white rounded-lg border border-[#fdfdfdec] cursor-pointer mx-auto my-[5vh] justify-center items-center transition ease-in duration-150 hover:bg-[#262626] hover:text-[#68ee86] h-[50px] w-[180px] text-[100%] sm:w-[110px] sm:h-[50px] sm:text-[90%] xl:w-[100px] xl:h-[40px] xl:text-[80%]
}

.cabecalhoVerde {
  @apply flex h-[10vh] flex-row justify-between items-center relative px-[10vw] bg-[#68ee86] text-[#3da3d0] text-[20px] md:text-[14px] sm:text-[10px]
}



@layer {
  .link {
  @apply no-underline text-inherit text-[1.2em] hover:text-[1.6em] hover:text-aliceblue transition-[font-size] duration-100 ease-in
  }
}
