@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .servico {
        @apply flex items-center bg-oxigenio justify-evenly cursor-pointer text-white mt-[10vh]
               rounded-r-[100px] rounded-l-none  gap-44
               transition-all duration-200 ease-in
               hover:bg-black 
               h-[40vh] text-[50px] 
               2xl:w-[45vw] 2xl:h-[100px] 2xl:text-[30px] 
               md:w-[400px] md:h-[80px] md:text-[20px] 
               mobile:w-[90vw] mobile:h-[10vh]  mobile:gap-1 mobile:text-[22px];
    }
    
}

@layer {
.iconeServico
{
    @apply  block bg-white rounded-full text-center 
     w-[1.8em] h-[2.6em]  m-10
}}


.tituloServico
{
    @apply text-inherit text-[0.9em] m-10
}


.servicosContainer
{
    @apply flex flex-col justify-start text-center w-screen h-screen mt-[8vh] gap-24
     mobile:gap-20
}

.FundoInicial
{
    @apply flex bg-[url('/background-1280x985.jpg')] bg-cover bg-no-repeat bg-center w-screen h-screen fixed
}

.CabecalhoVerde{
    @apply flex  flex-row items-center justify-between relative bg-oxigenio h-[10vh] px-[10vw] xl:gap-[50vw] mobile:gap-[10vw]
    text-[20px] 4xl:text-[20px] 2xl:text-[14px] md:text-[10px]
}

.RodapeInicial{
    @apply flex  items-center justify-start absolute bg-opacity-95 bg-slate-800 w-[100vw] h-[24vh] p-5  bottom-20
    sm:bg-opacity-100
    mobile:bg-opacity-0
}

.SectionRodape{
    @apply sm:flex items-start justify-start text-white w-[80vw] gap-14
    mobile:hidden
}

.ConteudoRodapeInicial{
    @apply flex flex-col gap-6
    md:text-[12px]
    sm:text-[10px]  
}

.ContainerLgout{ 
    @apply flex  flex-row items-center justify-center gap-4 bg-slate-800 text-white p-6 rounded-lg
     shadow-lg max-w-md mx-auto my-8 cursor-pointer mobile:p-[0.0001rem] xl:p-[0.2em]  xl:w-[160px] mobile:w-[120px]  
}

@layer
{
.LogoPorto{
    @apply mobile:w-[110px] xl:w-[250px]
}
}

.TituloInforma{
    @apply text-[24px] 2xl:text-[20px] xl:text-[18] text-oxigenio
}